<ng-container *ngIf="currentUser == null">
  <div class="dropdown text-end">
    <button type="button" class="btn btn-primary" data-bs-toggle="dropdown" aria-expanded="false">Sign-in</button>
    <ul class="dropdown-menu dropdown-menu-end text-small">
      <li *ngFor="let signInMethod of signInMethods;">
        <a class="dropdown-item" href="#" (click)="onSignInButtonClick(signInMethod)">
          <span class="bi-{{ signInMethod.iconId }} inquizitiv-icon"></span>
          Continue with {{signInMethod.displayName}}
        </a>
      </li>
    </ul>
  </div>
</ng-container>
<ng-container *ngIf="currentUser != null">
  <div class="dropdown text-end">
    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
      aria-expanded="false">
      <img src="{{ currentUser.photoURL }}" referrerpolicy="no-referrer" alt="{{ currentUser.displayName }}" width="32"
        height="32" class="rounded-circle">
    </a>
    <ul class="dropdown-menu text-small">
      <li><a class="dropdown-item" href="#">New project...</a></li>
      <li><a class="dropdown-item" href="#">Settings</a></li>
      <li><a class="dropdown-item" href="#">Profile</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item" href="#" (click)="onSignOutButtonClick()">Sign out</a></li>
    </ul>
  </div>
</ng-container>